<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
				<key>dateExpires</key>
				<string>15/10/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSAuthCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSMobileClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69AC2B334E541148B12F9F2E7EFB75EFCD74A77B</string>
						<key>dateExpires</key>
						<string>15/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UIUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7E2DYPBWQ8</string>
						<key>name</key>
						<string>Daft Media Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2548PK3QUN.ie.distilledsch.Dealer-App-Debug</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7E2DYPBWQ8</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2548PK3QUN.ie.distilledsch.Dealer-App-Debug</string>
				</array>
			</dict>
			<key>name</key>
			<string>Dealer App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2a4b7dbc-72c5-4c74-8bcf-69e6f2944ef6</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7E2DYPBWQ8</string>
				<key>name</key>
				<string>Daft Media Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
